body{
    background-color: #15192C;

}

/* learning */
.managment{
    background-color: #15192C;
}
.nav-pills-bg-soft {
    background-color: #15192C;
    padding: 0.625rem 0;
    border-radius: 0.625rem;
}

.nav-link{
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: purple;
}

p{
    color: white;
}
h1,h2,h3,h4,h5,h6{
    color: white;
}
small{
    color: white;
   
}
.fa-check{
    color: white;
    padding-right: 5%
    
}
.li-text-managment{
    list-style: none;
    display:flex
}

/* services */
.services{
    margin-top: 5%;
}
.services-info{
   
    text-align: center;
    justify-content: end;
    background-color: blue;
    padding: 7%;
}
.services-info-1{
    background-color: white;
    text-align: center;
    
}
.services-info-1 h6 {
    color: black !important;
    text-align: center;
}
.services-info-1 p {
    color: black;
    text-align: center;
}
.services-text{
    margin-bottom: 5%;
    text-align: center;
}


/* company */
.company{
    margin-top: 5%;
}

.company-image{
    width: auto;
    height: 110px;
}
.company-image-1{
    width: auto;
    height: 110px;
}
.company-images{
    background-color: #141728;
}







