@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    background-color: rgb(22,25,44);
    font-family:  "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.bg{
    color: slateblue;
}
.navbar{
    background: rgb(35,41,70);
background: linear-gradient(90deg, rgba(35,41,70,1) 5%, rgba(29,33,57,1) 20%, rgba(29,33,61,1) 26%, rgba(30,31,57,1) 29%, rgba(24,28,59,1) 37%, rgba(11,14,42,1) 49%, rgba(13,17,42,1) 62%, rgba(11,15,34,1) 76%);
}
.homesection{background: rgb(35,41,70);
    background: linear-gradient(90deg, rgba(35,41,70,1) 5%, rgba(29,33,57,1) 20%, rgba(29,33,61,1) 26%, rgba(30,31,57,1) 29%, rgba(24,28,59,1) 37%, rgba(11,14,42,1) 49%, rgba(13,17,42,1) 62%, rgba(11,15,34,1) 76%);

}
.title{
    font-size: 43px;
    font-weight: 700;
}
.half {
    position: relative;
    padding: 0 0;
    background: rgb(35,41,70);
background: linear-gradient(90deg, rgba(35,41,70,1) 5%, rgba(29,33,57,1) 20%, rgba(29,33,61,1) 26%, rgba(30,31,57,1) 29%, rgba(24,28,59,1) 37%, rgba(11,14,42,1) 49%, rgba(13,17,42,1) 62%, rgba(11,15,34,1) 76%);
}
.new{
    position: relative;
    background-color: rgb(37,40,59);
}

.half-text{
    color: rgb(159,148,250);
    font-weight: bolder;
    font-weight: 700;
}
.text-size{
    font-size: 39px;
}
 .half-bg {
    position: absolute;
    background-color: rgb(22,25,44);
    content: "";
    top: 50%;
    width: 100%;
    height: 50%;
}
.main{
    position: relative;
    font-size: 60px;
    
    font-weight: 700;
}
.text{
    position: relative;
    font-weight: 300;
}
.search{
    position: relative;
    background-color: #625FAF;
    border: black solid 1px;
    
}
/* learning */
.managment{
    margin-top: 5%;
}
.nav-pills-bg-soft {
    
    background-color: #15192C;
    padding: 0.625rem 0;
    border-radius: 0.625rem;
}
.managment-text-heading{
    font-weight:bold;
    font-style:normal;
    font-variant:normal;
    vertical-align:baseline;
    letter-spacing:normal;
    font-family: 'PT Sans', sans-serif;
}
.managment-text-para{
    font-size: 18px;
    
    font-family: 'PT Sans', sans-serif;
}
.nav-link{
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: purple;
}
small{
    font-family: 'PT Sans', sans-serif;
}

p{
    color: white;
    
}
h1,h2,h3,h4,h5,h6{
    color: white;
}
small{
    color: white;
   
}
.fa-check{
    color: white;
    padding-right: 5%
    
}
.li-text-managment{
    list-style: none;
    display:flex
}

/* services */
.services{
    margin-top: 15%;
}
.services-info{
   
    text-align: center;
    justify-content: end;
    background-color: blue;
    padding: 17%;
}
.services-info-1{
    background-color: white;
    text-align: center;
    
}
.service-text{
    color: black;
}
.card-texts{
    position: relative;
    top: 55%;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;
}
.services-info-1 h6 {
    color: black !important;
    text-align: center;
}
.services-info-1 p {
    color: black;
    text-align: center;
}
.services-text{
    margin-bottom: 5%;
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-style:normal;
    font-variant:normal;
    vertical-align:baseline;
    letter-spacing:normal;
    text-align: center;
}
.card-services{
    background-color: #625FAF;
    margin: 1%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;

}
.card-1{
    background-color: #fff;
    color: black !important;
    font-weight: 400 !important;
}
.card-text{
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(25, 25, 25);
    text-align:left;
    text-indent:0px;
    line-height:15.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}
/* company */
.company{
    margin-top: 15%;
}
.company-image{
    width: auto;
    height: 110px;  
}
/* business */
.business{
    margin-top: 15%;
}
.business-text-heading{
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-style:normal;
    font-variant:normal;
    vertical-align:baseline;
    letter-spacing:normal;
}
.business-text-para{
    font-weight:500;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(25, 25, 25);
    text-align:left;
    text-indent:0px;
    line-height:28.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}
.card-groups{
    margin: 2%;
    background-color: #25283B;
    
}
.fas{
    font-size: 36px;
    color: blueviolet;
    margin-bottom: 5%;
}
.far{
    font-size: 36px;
    color: blueviolet;
    margin-bottom: 5%;
}
/* footer */
.footer{
    margin-top: 5%;
    background-color: rgb(29, 31, 45);
}
.text-footers{
    font-weight:bolder;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(25, 25, 25);
    text-align:left;
    text-indent:0px;
    line-height:15.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}
.text-footer{
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(25, 25, 25);
    text-align:left;
    text-indent:0px;
    line-height:15.6px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}
.footer-text{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
}
.buttons{
    margin-top: 3%;
}
strong{
    color: white;
}
.fa-fw{
    color: white;
    text-align: end;
}
.footer-text-1{
    text-align: end;
    color: white;
}
.text-footer{
    margin-right: 5%;
}
.logo{
    text-align: end;
}
@media screen and (max-device-width: 480px){
    .services-info{
        margin-bottom: 2%;
    }
    .company-image{
        margin-left: 30%;
        margin-right: auto;
        padding: 5%;
    }
    
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px){

    .services-info{
        margin-bottom: 2%;
        height: auto;
    }
    .company-image{
        margin-left: 30%;
        margin-right: auto;
        padding: 5%;
        height: auto;
        width: 150px;
    }
    
}


@media screen and (min-device-width: 769px) and (max-device-width: 1023px){

    .services-info{
        margin-bottom: 2%;
        height: 200px;
    }
    .company-image{
        
        padding: 5%;
    }
}








